[defaults]
roles_path = ./roles
host_key_checking = false
gathering = explicit
executable = /bin/bash

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=15 -o ServerAliveCountMax=3 -o ConnectTimeout=10
